body {
  margin: 0;
  padding: 0;
  position: relative;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000;

  text-transform: uppercase;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

.site_navigation,
.feature_list,
.social_icon-list {
  list-style-type: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

.title_search_hotels {
  margin: 0;
	margin-top: 55px;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0,1,1,.2);
}

.main_navigation {
  width: 1200px;
  margin: 0 auto;
  padding: 0 72px;
  box-sizing: border-box;
  position: relative;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.site_navigation {
  margin: 0;
  padding: 15px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: #fff;
}

.navigation:nth-child(2) {
  margin-right: 235px;
}

.navigation:nth-child(3) {
  margin-right: 15px;
}

.navigation_header {
	text-decoration: none;
}

.logo {
  width: 140px;
  height: 70px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.img_footer,
.social_icon,
.card_link,
.logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.site_navigation a {
  color: #000;
  text-decoration: none;
}

.site_navigation a:hover,
.site_navigation a:focus {
  color: #766357;
}

.wrapper_welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  width: 1200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  background: url('../img/background_photo.jpg') 100% no-repeat;
  background-color: #81b3d2;
  background-position: top center;
  background-size: cover;
}

.filter {
	margin:0;
	padding: 0;
	
  background: url('../img/filter_background.jpg') 100% no-repeat;
  background-color: #81b3d2;
  background-position: center;
}

.img_welcome {
  width: 459px;
  height: 353px;

  margin-top: 75px;
  margin-bottom: 80px;
}


.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.subtitle_content {
  font-size: 21px;
	line-height: 26px;
  text-align: center;
}

.features {
  width: 100%;
  background-color: #fff;
}

.features_1 {
  width: 1200px;
  margin-bottom: 60px;

  display: flex;
  justify-content: center;
}

.features1_inner {
  width: 1200px;
  margin-bottom: 65px;
}

.feature_list {
  display: flex;
  align-content: center;
  margin: 0;
  padding: 0;
}

.title_features_list {
	padding: 0 70px;
}

.feature_inner {
  width: 400px;
  position: relative;
	
	padding: 0px 50px;

  text-align: center;
}

.title_features1 {
	margin: 0;
	margin-top: 105px;
	margin-bottom: 20px;
}

.title_features1::before {
  content: "";

  width: 75px;
  height: 72px;
	
	display: block;
  position: absolute;
	top: 0;
	left: 40%;

  background-image: url(../img/icon_home.svg);
}

.title_features2 {
	margin: 0;
	margin-top: 105px;
	margin-bottom: 20px;
}

.title_features2::before {
  content: "";

  width: 74px;
  height: 70px;
	
	display: block;
  position: absolute;
	top: 0;
	left: 40%;

  background-image: url(../img/icon_food.svg);
}

.title_features3 {
	margin: 0;
	margin-top: 105px;
	margin-bottom: 20px;
}

.title_features3::before {
  content: "";

  width: 64px;
  height: 76px;
	
	display: block;
  position: absolute;
	top: -1.5%;
	left: 42%;

  background-image: url(../img/icon_gift.svg);
}

.features_1 p,
.features_2 {
	margin-top: 20px;
}

.features_2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  width: 100%;
}

.order {
  order: -4;
}

.wrapper_features {
	position: relative;
	
	padding-top: 48px; 
	padding-bottom:50px; 
	
	text-align: center;
}

.wrapper_features::before {
  content: "";

  width: 1200px;
  height: 60px;
  display: block;
  position: absolute;
  bottom: 98%;

  background: url('../img/intro_mask.svg') no-repeat;
}

.subtitle_content, .subtitle_features {
  text-align: center;
  vertical-align: middle;
}

.subtitle_features {
	margin: 0;
	margin-top: 25px;
	
	font-size: 14px;
	line-height: 26px;
}

p.subtitle_content  {
	margin: 0;
	margin-top: 40px;
	
	font-size: 14px;
	line-height: 26px;
	color: #333;
	
}

.subtitle_inner {
	padding: 0px 55px;
	
	font-size: 21px;
	line-height: 21px;
}

.text_1 {
  width: 400px;

  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;

  text-align: center;
  box-sizing: border-box;
}

.features_3 {
  width: 1200px;
	
  padding-bottom: 45px;
  padding-top: 50px;
	
	background-color: #eee;
}

.title_features_list {
  margin: 0;
  margin-bottom: 20px;
}

.features_number {
  margin: 0;
	margin-bottom: 15px;
}

.feature_three {
  width: 400px;
  padding:  0 70px;

  text-align: center;
}

.subtitle_features {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333;

  text-align: center;
}

.features_1,
.features_2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  background-color: #81b3d2;
}

.features_1 p,
.features_2 p {
	margin: 0;
	margin-top: 20px;
	
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.features_1 span,
.features_2 span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.feature_inner h3,
.feature_three h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000;
}

.feature_inner,
.feature_three {
  line-height: 21px;
  font-weight: 400;
  color: #333;
}

.features_3 p {
	margin-top: 23px;
}

.feature_list {
  margin: 0;
  padding: 0;
}

.subtitle {
  margin: 0;
  margin-bottom: 132px;

  line-height: 24px;
  font-weight: 400;
  color: #333;

  text-align: center;
}

.wrapper_map {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1200px;
}

.map {
	display: block;
	max-width: 1200px;
}

.search_hotels {
  margin: 0 auto;
}

.form_booking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 568px;
  font-weight: 700;

  position: absolute;
  left: 50%;
	top:75.4%;
  transform: translate(-50%, 0);
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0,1,1,.2);
}

.button_title {
  width: 100%;
	margin: 0;
  margin-bottom: 55px;
  padding: 0 20px;
	padding-top: 31px;
	padding-bottom: 28px;
	
	display: block;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;

  text-transform: uppercase;
  text-align: center;

  background-color: #766357;
  border: none;
}

.fields label {
  margin-right: 20px;
}

.fields input {
  width: 336px;
	padding: 7px 0;
	padding-left: 10px;
}

.fields_2 {
  margin: 0;
  margin-bottom: 55px;
	position: relative;
}

label.number_of_adults {
  margin: 0;
	margin-right: 36px;
	
}
label.number_of_children {
  margin: 0;
	margin-left: 48px;
	margin-right: 28px;
}

.fields_2 input {
  width: 114px;
	padding: 6px 0;
	padding-bottom: 3px;
	
	text-align: center;
	vertical-align: middle;
}

.button_title:hover,
.button_reservation:hover,
.button_title:focus,
.button_reservation:focus {
  background-color: #604e43;
}

.form_booking input[type="text"] {
  font: inherit;
	border: 2px solid transparent;
	
	box-sizing: border-box;
  background-color: #f2f2f2;
	outline: transparent;
}

.form_booking input:hover {
  background-color: #ebebeb;
}

.form_booking input:focus {
  border: 2px solid #e5e5e5;
  background-color: #fff;
}

.button_plus {
	width: 38px;
	position: absolute;
	top: 18%;
	left: 83%;
	
	text-align: center;
	vertical-align: middle;
}

.button_minus {
	width: 38px;
	position: absolute;
	top: 18%;
	left: 50%;
	
	text-align: center;
	vertical-align: middle;
}

.button_minus,
.button_plus {
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  color: #a9a9a9;

  background-color: transparent;
  border: none;
	outline: transparent;
}

.button_minus:hover,
.button_plus:hover {
	color: #000;
	border: none;
	outline: transparent;
}

.button_minus:active,
.button_plus:active {
	color: #81b3d2;
	border: none;
	outline: transparent;
}

.button_submit {
	margin-bottom: 53px;
  padding: 16px 196px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
	text-align: center;
	vertical-align: middle; 
  color: #fff;
  text-transform: uppercase;

  border: none;
  background-color: #81b3d2;
}

.button_submit:hover,
.card_link:hover,
.button_submit:focus,
.card_link:focus {
  background-color: #669ec0;
}

.button_submit:active,
.card_link:active {
  background-color: #5496bd;
}

.filter {
	display: flex;
	flex-wrap: wrap;
}

.wrapper_filter {
	display: flex;
	margin: 0;
	padding: 0;
}

.wrapper_infrastructure {
	width: 185px;
	display: flex;
	flex-wrap: wrap;
	
	margin-left: 70px;
	margin-top: 31px;
}

.infrastructure_list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	color: #fff;
	font-weight: 400;
}

.title_infrastructure {
	margin: 0;
	margin-bottom: 28px;
	padding: 0;
	
	font-size: 16px;
	line-height: 21px;
	font-weight: 800;
	color: #fff;
}

.wrapper_house {
	width: 185px;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	
	margin-left: 70px;
	margin-top: 31px;
}

.title_type_house {
	margin: 0;
	margin-bottom: 28px;
	padding: 0;
	
	font-size: 16px;
	line-height: 21px;
	font-weight: 800;
	color: #fff;
}

.type_house_list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	color: #fff;
	font-weight: 400;
}

.wrapper_cost_day {
	width: 320px;
	margin: 0;
	margin-top: 31px;
	
}

.title_cost_day {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	
	font-size: 16px;
	line-height: 21px;
	color: #fff;
}

.cost {
	width: 100%;
	margin-bottom: 23px;
	padding: 5px 0px;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
	align-items: baseline;
	position: relative;
	
	border: 2px solid #fff;
	border-radius: 2px;
}

.cost:after {
	content: "";
	height: 70%;
	
	position: absolute;
	left: 50%;
	
	border-left: 2px solid #fff;
	
}

.initial_price1 {
	margin: 0;
	margin-left: 65px;
	
	color: #fff;
	font-weight: 400;
}

.initial_price {
	width: 60px;
	margin: 0;
	margin-left: 5px;
}


.final_price1 {
	margin: 0;
	margin-left: auto;
	margin-right: -46px;
	
	color: #fff;
	font-weight: 400;
}

.final_price {
	width: 60px;
	margin: 0;
	margin-left: 5px;
	
}

.button_filter {
	width: 137px;
	margin-left: 95px;
	padding: 5px 35px;
	
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	
	background-color: transparent;
	border:2px solid #fff;
	border-radius: 2px;
}

.slider {
	width: 317px;
	margin-bottom: 42px;
	position: relative; 
}

.slider:after {
	content: "";
	
	width: 323px;
	height: 20px;
	position: absolute;
	bottom: 50%;
	
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.slider:before {
	content: "";
	
	width: 273px;
	height: 20px;
	position: absolute;
	bottom: 50%;
	
	border-bottom: 2px solid #fff;
}

.button_left:before {
	content: "";
	
	width: 20px;
	height: 20px;
	position: absolute;
	right: 94%;
	bottom: 80%;
	z-index: 1;
	
	background-image: url(../img/radio_button.svg)
}

.button_left:before :hover {
	content: "";
	
	width: 20px;
	height: 20px;
	position: absolute;
	right: 90%;
	bottom: 80%;
	z-index: 2;
	
	transform: scale(1.2);
	background-image: url(../img/radio_button.svg)
}



.cost input[type="text"] {
	margin: 0;
	padding: 0;
	margin-left: 3px;
	
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	font-weight: 400;
	
	vertical-align: baseline;
	
	background: none;
	border:none;
	outline: transparent;
}

.container_hotels {
  width: 1200px;
  margin: 0;
}

.card_hotel {
	width: 100%;
  display: flex;
  align-items: center;
	
  padding-top: 31px;
	padding-bottom: 31px;
	
	border-top: 1px solid #e5e5e5;
	position: relative;
}

.card_hotel:nth-child(4) {
	z-index: 1;
	border-bottom: 1px solid #e5e5e5;
}


.img_card {
  margin: 0;
  padding-right: 30px;

  align-items: flex-end;
  align-self: flex-end;
}

.list_card {
  padding: 0px 73px;
	padding-bottom: 100px;
}

.text_cardhotel {
  width: 260px;

  align-items: baseline;
  align-self: flex-end;

  margin: 0;
}

.wrapper_price {
	margin-left: 40px;
}

.rating {
  width: 111px;
  margin-left: auto;
	margin-top: auto;

  background-color: #f2f2f2;
}

.flex_container {
  display: flex;
}

.name_hotel,
.price {
  margin: 0;
}

.title_hotel {
	text-decoration: none;
}

.name_hotel:hover {
	color: #81b3d2;
}

.name_hotel:active {
	color: rgba(0, 0, 0, 0.5);
}

.name_hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.card_hotel .price {
  font-weight: 400;
  color: #333;
}

.card_hotel span {
  font-weight: 400;
	text-align: center;
	vertical-align: middle;
  color: #666;
}

.card_link {
  margin: 0;
  margin-right: 5px;
  padding: 8px 17px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  background-color: #81b3d2;
  border: none;
}

.button_reservation {
  margin: 0;
  padding: 8px 17px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  background-color: #766357;
  border: none;
}

.calendar {
	position: absolute;
	top: 18%;
	left:92%;
	
	border: none;
	background-color: transparent;
	outline: transparent;
}

.calendar_color {
	fill: #a9a9a9;
}

.calendar_color:hover {
	fill: #000;
}

.calendar_color:active {
	fill: #81b3d2;
}

.fields {
  width: 460px;
	
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	
	margin: 0;
	margin-bottom: 30px;
}

.main_footer {
  width: 1200px;
	margin: 0;
  padding: 15px 145px;
  position: absolute;
	
  font-size: 21px;
  box-sizing: border-box;

  bottom: 0;

  background-color: rgba(255,255,255,.8);
}

.wrapper_footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hashtag {
  width: 136px;
  margin: 0;
	margin-left: -45px;
	display: block;
	
  font-size: 21px;
  line-height: 26px;
}

.social_icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 152px;

  margin-left: auto;
	margin-right: auto;
  padding: 0;
  text-align: center;
}

.social_icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 46px;
	
	text-decoration: none;
  background-color: #81b3d2;
}

.social_icon:hover,
.social_icon:focus {
  background-color: #669ec0;
}

.social_icon:active {
  fill: rgba(0,0,0,.5);
  background-color: #5496bd;

}

.logo_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 198px;
  margin: 0;
	margin-right: -45px;

  text-align: center;
}

.logo_footer span {
  margin: 0;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 400;
}

.img_footer:hover {
  fill;
	text-decoration: none;
}

.social_button a {
  color: #000;
}




